[Unit]
Description=Autolock with kscreenlocker
Documentation=
After=display-manager.service

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -noclose -time 5 -locker /usr/lib/kscreenlocker_greet
Restart=always
StartLimitBurst=50

[Install]
WantedBy=default.target
