[Unit]
Description=Autolock with kscreenlocker
Documentation=
After=display-manager.service

[Service]
ExecStart=/usr/bin/xautolock -noclose -time 5 -locker /usr/lib/kscreenlocker_greet

[Install]
WantedBy=default.target
